body {
    font-family:'Roboto', sans-serif;
}

.ff-tangerine {
    font-family: 'Tangerine', cursive;
    font-size: 64px;
    font-weight: bold;
}

.bg-principal {
    background-color: #eecaca;

}

.navbar-brand img {
    height: 250px;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
    color: #4aa14eef;
}


.nav-pills .nav-link.active,
.nav-pills .nav-link.active:hover,
#menu .nav-pills .nav-link.active {
    background-color: #bb3939;
    color: #fff;
}

.nav-pills .nav-link:hover,
#menu .nav-pills .nav-link {
    color: #bb3939;
}

.paleta-vermelha {
    color: #bb3939;
}

.bg-rosa {
    background-color: #eecaca67;
}

#contato .bi {
    color: #bb3939;
    transition: .3s ease-in-out;
}

#contato .bi:hover {
    color: #ce3131;
}


.carousel-inner .carousel-item img {
    height: 600px;
    object-fit: cover;
}

.portrait {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#contato li a {
    text-decoration: none;
}

.btn-contato {
    background-color: #4aa14eef;
    color: #fff;
    transition: .3s ease;
}

.btn-contato:hover {
    background-color: #4aa14e;
    color: #fff;
    transform: scale(96%);
}

#avaliacoes .bi-star-fill {
    color: #daa520;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item img {
        height: 280px;
    }

}








